{% extends 'blog/base.html' %}

{% block content %}
    <div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
      <form method="POST" class="post-form">{% csrf_token %}
        <div class="form-group">
          <textarea class="form-control"  rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}



  <h1>New comment</h1>
  <form method="POST" class="post-form">{% csrf_token %}
      {{ form.as_p }}
      <button class="btn" type="submit" class="save btn btn-primary"><i class="fas fa-plus-circle"></i> Send</button>
  </form>